.branding {
  background-color: #e3dac9;
  width: 100%;
  height: auto; }
  .branding img {
    margin: auto;
    display: block;
    z-index: 2; }
  .branding img.background {
    margin: auto;
    padding: auto;
    display: block;
    z-index: 1; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background: url(../assets/navbar.jpg);
  border-radius: 5px;
  height: auto; }
  .menu li {
    font-family: 'Oswald', 'serif';
    color: white;
    display: inline-block;
    padding: 20px; }
  .menu li:hover {
    color: cornflowerblue; }

.container {
  width: 100%; }

#card-container {
  margin: 0 auto; }

.card {
  background-color: #e3dac9;
  font-family: 'Lato', 'serif';
  width: 450px;
  height: 400px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 3px black;
  word-wrap: break-word;
  overflow: hidden; }
  .card #cardAuthor {
    color: red; }
  .card #cardTimeStamp {
    color: green; }
  .card #cardScore {
    color: cornflowerblue; }
  .card #cardSnippet {
    color: purple; }

img {
  max-width: 100%;
  height: auto; }

@media only screen and (min-width: 1000px) {
  #card-container {
    column-count: 2;
    column-fill: balance;
    text-align: center; }
  .card {
    display: inline-block; } }

.footer {
  width: 100%;
  background-color: #2C3539;
  height: auto; }
  .footer img {
    margin: auto;
    display: block; }
  .footer img#instagram:hover {
    content: url(../assets/instagram_orange.svg); }

body {
  background: url(../assets/bg.jpg); }
