.branding {
  background-color: #e3dac9;
  margin: auto;
  padding: auto;
}
  .branding img {
    margin: auto;
    display: block;
  }


.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background: url(../assets/navbar.jpg);
  border-radius: 5px;
  height: auto; }
  .menu li {
    color: white;
    display: inline-block;
    padding: 20px; }
  .menu li:hover {
    color: cornflowerblue; }

#card-container {
  width: 650px;
  margin: 0 auto; }

.card {
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 3px black; }

.card:hover {
  border: 5px solid #FF8040; }

img {
  max-width: 100%;
  height: auto; }

body {
  background: url(../assets/bg.jpg); }
