
.branding{

  background-color: #e3dac9;
  width: 100%;
  height: auto;
  img {

    margin: auto;
    display: block;
    z-index: 2;
  }

  img.background {
    margin: auto;
    padding: auto;
    display: block;
    z-index: 1;
  }

}