
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background: url(../assets/navbar.jpg);
  border-radius: 5px;
  height: auto;

  li {
    color: white;
    display: inline-block;
    padding: 20px;
  }

  li:hover {
    color: cornflowerblue;
  }

}