
#random:hover{ color: cornflowerblue; }
#my-boards:hover{ color: cornflowerblue; }
#get-app:hover{ color: cornflowerblue; }

.menu {

  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    padding: 20px;
  }

}